@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    background-color: #00134B;
    font-family: 'Poppins';
  }
.header{
    width: 100%;
    height: 120px;
    overflow: hidden;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    padding-left: 60px;
    cursor: pointer;
}
.menu{
    display: none;
}
.header .right{
    display: flex;
    padding-right: 60px;
}
.header .right h2{
    margin-right: 40px;
    color: cyan;
    font-weight: 300;
    cursor: pointer;
}
.highlighted{
    background-color: cyan !important;
    color: #00134B !important;
    padding: 5px 10px 5px 10px;
    border-radius: 100px;
}
.wrapper{
    width: 100%;
    margin-top: 70px;
}
.content{
    display: flex;
    flex-wrap: wrap;
    margin-left: 60px;
    margin-right: 60px;
}
.content-left{
    flex: 3;
}
.content-right{
    max-width: 400px;
    flex: 1;
    background-color: #08295c;
    border-radius: 20px;
}
.content h1{
    color: white;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 28px;
}
.content-left h2{
    margin: 0;
    font-weight: 200;
    color: cyan;
}
.partial-border{
    display: inline-block;
}
.partial-border:after{
    border-bottom: 4px solid cyan; 
    content: ''; 
    display: block; 
    margin-left: 5px;
    margin-top: 5px; 
    width: 60%;
}
.dotted-border{
    display: inline-block !important;
    border-bottom: 2px dotted cyan;
}
::-webkit-scrollbar{
    display: none;
}
.mg-bottom-10{
    margin-bottom: 10px !important;
}
.mg-bottom-50{
    margin-bottom: 30px !important;
}
.From-Wrapper{
    height: 450px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-around;
}
.content-right input{
    width: 100%;
    height: 45px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #465e84;
}
.content-right textarea{
    width: 100%;
    height: 120px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #465e84;
    resize: none;
}
.content-right h3{
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
    color: #7994be;
}
.actions{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.actions div{
    width: 100px;
    height: 40px;
    margin-left: 20px;
}
.Clear{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccd4dd;
    border-radius: 10px;
    cursor: pointer;
}
.Send{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5be1e6;
    border-radius: 10px;
    cursor: pointer;
}
.actions h2{
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
    color: #465e84;
}
/* Larger Desktops */
@media screen and (min-width: 1280px) {
    /* Not Required */
}
/* Laptops */
@media screen and (max-width: 1279px) and (min-width: 769px) {
    /* Requires Change of Header */
}
/* Tablets */
@media screen and (max-width: 768px) and (min-width: 481px) {
    .header{
        height: 50px;
    }
    .content{
        align-items: center;
    }
    .wrapper{
        margin-top: 20px;
    }
    .content-right{
        margin: 50px auto;
      }
    .content-left{
        min-width: 86vw;
    }
    .right{
        display: none !important;
    }
    .logo img{
      padding-left: 20px;
      width: 40px;
      height: 40px;
      padding-top: 10px;
    }
    .menu{
      display: block;
    }
    .menu img{
      padding-right: 10px;
    }
  
}
/* Mobiles */
@media screen and (max-width: 480px){
  .header{
    height: 50px;
  }
  .wrapper{
    margin-top: 20px;
  }
  .content{
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
  }
  .content-right{
    margin-top: 50px;
  }
  .right{
    display: none !important;
  }
  .logo img{
    padding-left: 20px;
    width: 40px;
    height: 40px;
    padding-top: 10px;
  }
  .menu{
    display: block;
  }
  .menu img{
    padding-right: 10px;
  }

}